*{/*Removing the default settings*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{/*Creating the flex bos*/
    display: flex;
    margin: 3rem;
    height: 50rem;
    justify-content: center;
    background-color: black;
    
}

.box1, .box2, .box3, .box4, .box5{/*Styling the boxes inside the flex*/
    flex-basis: 10%;
    margin: 2.5px;
    padding: 2rem;
    border: 5px rgb(53, 31, 31) solid ;
    height: 20rem;
    background-color: firebrick;
    color: antiquewhite;
    
}

.box1, .box5{/* To mention the opacity*/
    opacity: 0.78;
}

body{
    background-color: aquamarine;
}
