*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: chartreuse;
    position: absolute;
}

.head{
    margin: 5rem;
    padding:2rem;
    border: black solid 0.85rem;
    font-size: 3rem;
    justify-content: center;
}

.box{
    margin: 0rem 5rem; 
    padding: 2rem;
    border: black solid 0.5rem;
    background-color: cornsilk;

}