*{/*Removing the default settings*/
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

h1{/*styling the response*/
    margin: 5rem 10rem 2rem 10rem ;
    padding: 2rem;
    width: 80%;
    text-align: center;
    border: 0.3rem;
    font-family: 'Indie Flower', cursive;
    color: antiquewhite;
    border-style: solid;
    letter-spacing: 2px;
    border-color: black;
    background-color: rgb(201, 89, 89);
}
body{
    background-color: rgb(80, 78, 82);
}
